/* Custom styles for Ant Design Select component */
.ant-select-focused .ant-select-selector {
  border-color: black !important;
  box-shadow: none !important;
  
}
.ant-select-selector {
  border: 1px solid #d9d9d9;
  background: rgba(229,231,235,0.3) !important;
  font-size: larger !important;
}
.ant-select-selector:focus {
  border-color: black !important;
  box-shadow: none !important;
}

.ant-select-selector:hover {
  border-color: black !important;
}

/* Change background color of selected option */
.ant-select-item-option-selected {
  background-color: rgba(201, 1, 30, 0.3) !important; /* c9011e with 30% opacity */
}

