#vision {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.vision-text {
  margin: 20px;
  color: #C8001E;
  font-family: Kanit, sans-serif;
  font-style: normal;
}


/* @media (max-width: 768px) {

/* @media (max-width: 768px) {
  .vision-text {
    font-size: 28px;
    font-size: 28px;
    padding-top: 50px;
  }
}

@media (max-width: 480px) {
  .vision-text {
    font-size: 28px;
    font-size: 28px;
    padding-top: 30px;
  }
} */

